<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">

	<test name="ClientGeneratorTest">
		<classes>
			<class name="generator.ClientGeneratorTest" />
		</classes>
	</test>

	<test name="AxisServiceClientTest">
		<classes>
			<class name="lib.AxisServiceClientTest" />
		</classes>
	</test>

	<test name="ObjectPoolTest">
		<classes>
			<class name="lib.ObjectPoolTest" />
		</classes>
	</test>

	<test name="StandardTest">
		<classes>
			<class name="lib.StandardTest" />
		</classes>
	</test>
	<test name="AutomationContextTest">
		<classes>
			<class name="property.AutomationContextTest" />
		</classes>
	</test>
</suite> 