<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">

	<test name="ServiceStubClientGeneratorTest">
		<classes>
			<class name="client.generation.ServiceStubClientGeneratorTest" />
		</classes>
	</test>

	<test name="AxisServiceClientTest">
		<classes>
			<class name="client.support.modules.AxisServiceClientTest" />
		</classes>
	</test>

	<test name="ObjectPoolTest">
		<classes>
			<class name="client.support.modules.ObjectPoolTest" />
		</classes>
	</test>

	<test name="StandardTest">
		<classes>
			<class name="client.support.modules.StandardTest" />
		</classes>
	</test>
	<test name="AutomationConfigurationReaderTest">
		<classes>
			<class name="client.configuration.AutomationConfigurationReaderTest" />
		</classes>
	</test>
</suite> 